In [ ]:
#If you need to install in modules in jupyter notebook 
%pip install scikit-learn
%pip install pandas
%pip install matplotlib 
%pip install seaborn 
%pip install graphviz
%pip install scikit-plot   
%pip install statsmodels   
%pip install keras
%pip install tensorflow

#Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)
import datetime # Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"


# Import required libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sklearn

# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

# Keras specific
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical 

# to make this notebook's output stable across runs
np.random.seed(42)

# Where to save the figures
PROJECT_ROOT_DIR = "."
CHAPTER_ID = "decision_trees"
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID)

os.makedirs(IMAGES_PATH, exist_ok=True)
def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):

    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

In [3]:
#changes the output for the print statements
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth',0)

In [10]:
#Pull 
df = pd.read_csv('https://raw.githubusercontent.com/Rodrig79/Machine-Learning-Data-Analysis-Project/master/rawData/pokemon.csv')

In [13]:
from sklearn import preprocessing

#Data Cleaning
df = df[~df.Name.str.contains('Mega')] #removed pokemon with "Mega" in it
df = df.drop(columns = ["Name","Type 1","Type 2","#","Generation"]) #Removed columns with names

In [18]:
print(df.shape)
df.describe()

(751, 8)

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
count,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000
mean,0.549769,0.269293,0.422104,0.311932,0.390072,0.304823,0.370040
std,0.146666,0.101750,0.166225,0.128826,0.168133,0.119135,0.154698
min,0.233766,0.003922,0.027778,0.021739,0.055556,0.086957,0.027778
25%,0.422078,0.196078,0.305556,0.217391,0.250000,0.217391,0.250000
50%,0.558442,0.254902,0.416667,0.295652,0.361111,0.282609,0.361111
75%,0.649351,0.313725,0.527778,0.391304,0.500000,0.369565,0.491667
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [22]:
target_column = ['Legendary']
predictors = list(set(list(df.columns))-set(target_column))
df[predictors] = df[predictors]/df[predictors].max()
df.describe()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
count,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000
mean,0.549769,0.269293,0.422104,0.311932,0.390072,0.304823,0.370040
std,0.146666,0.101750,0.166225,0.128826,0.168133,0.119135,0.154698
min,0.233766,0.003922,0.027778,0.021739,0.055556,0.086957,0.027778
25%,0.422078,0.196078,0.305556,0.217391,0.250000,0.217391,0.250000
50%,0.558442,0.254902,0.416667,0.295652,0.361111,0.282609,0.361111
75%,0.649351,0.313725,0.527778,0.391304,0.500000,0.369565,0.491667
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
X = df[predictors].values
y = df[target_column].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(525, 7)
(226, 7)

In [25]:
# one hot encode outputs
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

count_classes = y_test.shape[1]
print(count_classes)

NameError: name 'to_categorical' is not defined